button {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  border: 1px solid transparent;
  font-size: 25px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.ash {
  background-color: #d4d4d2;
  color: #1a1a1a;
}

.number-0 {
  border-radius: 55px;
  padding-left: 43px;
  width: 130px;
  text-align: start;
}

.num-pallette {
  background-color: #505050;
}

.orangeBtn {
  background-color: #ff9500;
}
