:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #e7e7f3;
  text-decoration: inherit;
}

a:hover {
  color: #ff9500;
}

.wrapper {
  width: fit-content;
  height: fit-content;
  background: #1c1c1c;
  border-radius: 15px;
  padding: 20px 5px 10px;
}

.result {
  text-align: end;
  font-size: 40px;
  display: block;
  overflow-wrap: break-word;
  padding-bottom: 15px;
  padding-right: 10px;
  inline-size: 273px;
  line-height: 1em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 5px 0px;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sublink {
  padding: 0px 5px 0px;
}

.top {
  margin-top: 4em;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 30px 0px;
}

.h-intro {
  text-align: center;
  line-height: 1em;
  font-size: 40px;
}

.orange {
  color: #ff9500;
}

.card {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 10px 0px;
  margin: 35px 0px 20px;
}

.speed {
  color: #ff9500;
  font-size: 60px;
}

.BTN {
  text-align: center;
  background: #ff9500;
  margin: auto;
  padding: 1em;
  border-radius: 15px;
}

.BTN:hover {
  filter: drop-shadow(0 0 0.2em #646cffaa);
}


a.BTN {
  color: aliceblue;
}

.btn-cont {
  display: flex;
}

.lets {
  font-size: 40px;
  line-height: 1.1em;
  font-weight: 400;
}

.calc {
  font-weight: 800;
}

.text {
  text-align: center;
  margin: 0px 250px 0px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote {
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  border-radius: 15px;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #ff9500 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before {
  font-family:Arial;
  content: "\201C";
  color:#ff9500;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after {
  content: '';
}

.otro-blockquote span {
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

@media (max-width: 767px) {
  .intro {
    flex-direction: column;
    margin: auto;
  }

  .card {
    flex-direction: column;
  }

  .wrapper {
    margin: auto;
  }

  .lets {
    text-align: center;
    font-size: 30px;
    line-height: 1.3em;
  }

  .calc {
  font-size: 1.6em;
  }

  .text {
    margin: 0px 40px 0px;
  }

}

@media (min-width: 767px) {
  .lets {
    padding-inline-start: 1em;
  }

  .calc {
    font-size: 1.5em;
  }
}

.fadeInTop {
  -webkit-animation: fadeInTop 1.2s both; /* Safari 4+ */
  -moz-animation: fadeInTop 1.2s both; /* Fx 5+ */
  -o-animation: fadeInTop 1.2s both; /* Opera 12+ */
  animation: fadeInTop 1.2s both; /* IE 10+, Fx 29+ */
} 

@-webkit-keyframes fadeInTop {
  0% {
      opacity: 0;
      -webkit-transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInTop {
  0% {
      opacity: 0;
      -moz-transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInTop {
  0% {
      opacity: 0;
      -o-transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      -o-transform: translateY(0);
  }
}

@keyframes fadeInTop{
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.fadeInLeft{
  -webkit-animation: fadeInLeft 1.2s both; /* Safari 4+ */
  -moz-animation: fadeInLeft 1.2s both; /* Fx 5+ */
  -o-animation: fadeInLeft 1.2s both; /* Opera 12+ */
  animation: fadeInLeft 1.2s both; /* IE 10+, Fx 29+ */
} 

/* Safari 4+ */
@-webkit-keyframes fadeInLeft {
  0% {
      opacity: 0;
      -webkit-transform: translateX(-50px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
}

/* Fx 5+ */
@-moz-keyframes fadeInLeft {
  0% {
      opacity: 0;
      -moz-transform: translateX(-50px);
  }
  100% {
      opacity: 1;
      -moz-transform: translateX(0);
  }
}

/* Opera 12+ */
@-o-keyframes fadeInLeft {
  0% {
      opacity: 0;
      -o-transform: translateX(-50px);
  }
  100% {
      opacity: 1;
      -o-transform: translateX(0);
  }
}

/* IE 10+, Fx 29+ */
@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translateX(-50px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight 1.2s both; /* Safari 4+ */
  -moz-animation: fadeInRight 1.2s both; /* Fx 5+ */
  -o-animation: fadeInRight 1.2s both; /* Opera 12+ */
  animation: fadeInRight 1.2s both; /* IE 10+, Fx 29+ */
} 

@-webkit-keyframes fadeInRight {
  0% {
      opacity: 0;
      -webkit-transform: translateX(50px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  0% {
      opacity: 0;
      -moz-transform: translateX(50px);
  }
  100% {
      opacity: 1;
      -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  0% {
      opacity: 0;
      -o-transform: translateX(50px);
  }
  100% {
      opacity: 1;
      -o-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(50px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.fadeInBottom {
  -webkit-animation: fadeInTop 1.2s both; /* Safari 4+ */
  -moz-animation: fadeInTop 1.2s both; /* Fx 5+ */
  -o-animation: fadeInTop 1.2s both; /* Opera 12+ */
  animation: fadeInTop 1.2s both; /* IE 10+, Fx 29+ */
} 

@-webkit-keyframes fadeInBottom {
  0% {
      opacity: 0;
      -webkit-transform: translateY(50px);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInBottom {
  0% {
      opacity: 0;
      -moz-transform: translateY(50px);
  }
  100% {
      opacity: 1;
      -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInBottom {
  0% {
      opacity: 0;
      -o-transform: translateY(50px);
  }
  100% {
      opacity: 1;
      -o-transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
